.carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;

    height: 70vh;
}

.carousel-inner .carousel-item:first-of-type {
    position: relative;
}

.carousel-inner .active {
    opacity: 1;
}

.carousel-img {
    object-fit: cover;
    filter: brightness(.4);

    /* height: 90vh; */
}